@inherits MarketDataBase
@page "/market"

<PageTitle>Market Data</PageTitle>

@if (response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex flex-xl-row flex-md-column-reverse align-items-center">
        <div class="me-2">
            <PriceHubDropdown CurrentPriceHub="@priceHub" OnSelectPriceHub="UpdatePriceHub" />
        </div>
        <div class="ms-2">
            <DateFilter EndDate="@endDate"
                    StartDate="@startDate"
                    CurrentState="@isFilterApplied"
                    CurrentDateFilter="@dateFilterType"
                    OnSelectDateRange="UpdateDateFilter">
            </DateFilter>
        </div>
        <div class="ms-auto">
            <button type="button" class="btn btn-secondary oi oi-reload" @onclick="Reset"></button>
        </div>
    </div>

    <div class="table-container border rounded-3">
        @if (response.Data.Count > 0)
        {
            <MarketDataTable MarketData="response.Data" Columns="response.Columns"></MarketDataTable>

            <Paginator Range="2"
               CurrentPageSize="pageSize"
               CurrentPage="page"
               TotalPages="totalPages"
               TotalRecords="response.TotalRecords"
               OnSelectPage="UpdatePage"
               OnSelectPageSize="UpdatePageSize">
            </Paginator>
        }
        else
        {
            <div class="py-4 text-center">
                <p><em>@response.Message</em></p>
                <button type="button" class="btn btn-outline-primary oi oi-reload" @onclick="Reset"></button>
            </div>
        }
    </div>
}
