@inherits DateFilterBase

<div class="d-flex">
    <div class="btn-group me-2">
        <button class="btn dropdown-toggle @(CurrentDateFilter != null ? "btn-dark" : "btn-outline-dark")" type="button"
                id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            @(CurrentDateFilter ?? "Filter Dates")
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="defaultDropdown">
            <li><a class="dropdown-item" @onclick=@(e => SelectDateFilter(null))>&minus;</a></li>
            @foreach (var option in DateOptions)
            {
                <li><a class="dropdown-item" @onclick=@(e => SelectDateFilter(option))>@option</a></li>
            }
        </ul>
    </div>

    @if (CurrentDateFilter != null)
    {
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@CurrentDateFilter Filter </span>
            <input id="startDate" type="date" class="form-control" @bind="@StartDate" @onclick="SetCurrentStateToFalse" />
            <input id="endDate" type="date" class="form-control" @bind="@EndDate" @onclick="SetCurrentStateToFalse" />
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" @onchange="ApplyDateFilter"
                   value="@CurrentState" checked="@CurrentState" />
            </div>
        </div>
    }
</div>