@inherits MarketDataTableBase

<table class="table table-hover text-center mb-0 overflow-auto">
    <thead class="table-dark">
        <tr>
            @foreach (var column in Columns)
            {
                <th>@column</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var data in MarketData)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.PriceHub</td>
                <td>@data.TradeDate.ToShortDateString()</td>
                <td>@data.DeliveryStartDate.ToShortDateString()</td>
                <td>@data.DeliveryEndDate.ToShortDateString()</td>
                <td>@data.HighPrice</td>
                <td>@data.LowPrice</td>
                <td>@data.AvgPrice</td>
                <td>@data.Change</td>
                <td>@data.Volume</td>
            </tr>
        }
    </tbody>
</table>

